.colors {
  position: relative;
  float: right;
}

.labels {
  transform: rotate(-90deg);
  position: absolute;
  display: inline-block;
  width: 100px;
  top: -340px;
  left: 255px;
}

.color-row {
  position: absolute;
  margin-top: 1em;
}

.color-row svg {
  position: absolute;
  top: 15px;
  left: 0;
}

.row1 li, .row2 li, .row3 li, .row4 li, .row5 li {
  margin-bottom: 24px;
}

.row1 {
  top: 0;
}
.row2 {
  top: 123px;
}
.row3 {
  top: 252px;
}
.row4 {
  top: 382px;
}
.row5 {
  top: 508px;
}

svg {
  display: block;
}
.block {
  height: 400px;
  width: 500px;
  margin: 10px;
}
.colors {
  display: block;
  width: 50%;
  float: right;
}

.neutral {
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 1em;
  height: 200px;
}

.matches {
  float: left;
  width: 48%;
}
