@media screen {

.tooltip-wrap {
  position: relative;
  height: 400px;
  width: 500px;
  margin: 10px;
}

.tooltip {
  position: absolute;
  z-index: 99;
  padding: 0.3em;
  font-family: Arial;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#Aaouter,#Abouter,#Acouter,#Adouter,#Aeouter,#Afouter,#Agouter,#Ahouter,#Aiouter,#Ajouter,#Aainner,#Abinner,#Acinner,#Adinner,#Aeinner,#Afinner,#Aginner,#Ahinner,#Aiinner,#Ajinner {
  top: -20px;
}
#Baouter,#Bbouter,#Bcouter,#Bdouter,#Beouter,#Bfouter,#Bgouter,#Bhouter,#Biouter,#Bjouter,#Bainner,#Bbinner,#Bcinner,#Bdinner,#Beinner,#Bfinner,#Bginner,#Bhinner,#Biinner,#Bjinner {
  top: 30px;
}
#Caouter,#Cbouter,#Ccouter,#Cdouter,#Ceouter,#Cfouter,#Cgouter,#Chouter,#Ciouter,#Cjouter,#Cainner,#Cbinner,#Ccinner,#Cdinner,#Ceinner,#Cfinner,#Cginner,#Chinner,#Ciinner,#Cjinner {
  top: 80px;
}
#Daouter,#Dbouter,#Dcouter,#Ddouter,#Deouter,#Dfouter,#Dgouter,#Dhouter,#Diouter,#Djouter,#Dainner,#Dbinner,#Dcinner,#Ddinner,#Deinner,#Dfinner,#Dginner,#Dhinner,#Diinner,#Djinner {
  top: 130px;
}
#Eaouter,#Ebouter,#Ecouter,#Edouter,#Eeouter,#Efouter,#Egouter,#Ehouter,#Eiouter,#Ejouter,#Eainner,#Ebinner,#Ecinner,#Edinner,#Eeinner,#Efinner,#Eginner,#Ehinner,#Eiinner,#Ejinner {
  top: 180px;
}
#Faouter,#Fbouter,#Fcouter,#Fdouter,#Feouter,#Ffouter,#Fgouter,#Fhouter,#Fiouter,#Fjouter,#Fainner,#Fbinner,#Fcinner,#Fdinner,#Feinner,#Ffinner,#Fginner,#Fhinner,#Fiinner,#Fjinner {
  top: 230px;
}
#Gaouter,#Gbouter,#Gcouter,#Gdouter,#Geouter,#Gfouter,#Ggouter,#Ghouter,#Giouter,#Gjouter,#Gainner,#Gbinner,#Gcinner,#Gdinner,#Geinner,#Gfinner,#Gginner,#Ghinner,#Giinner,#Gjinner {
  top: 280px;
}
#Haouter,#Hbouter,#Hcouter,#Hdouter,#Heouter,#Hfouter,#Hgouter,#Hhouter,#Hiouter,#Hjouter,#Hainner,#Hbinner,#Hcinner,#Hdinner,#Heinner,#Hfinner,#Hginner,#Hhinner,#Hiinner,#Hjinner {
  top: 330px;
}
#Iaouter,#Ibouter,#Icouter,#Idouter,#Ieouter,#Ifouter,#Igouter,#Ihouter,#Iiouter,#Ijouter,#Iainner,#Ibinner,#Icinner,#Idinner,#Ieinner,#Ifinner,#Iginner,#Ihinner,#Iiinner,#Ijinner {
  top: 380px;
}


#Aaouter, #Baouter, #Caouter, #Daouter, #Eaouter, #Faouter, #Gaouter, #Haouter, #Iaouter   { left: 0px;}
#Abouter, #Bbouter, #Cbouter, #Dbouter, #Ebouter, #Fbouter, #Gbouter, #Hbouter, #Ibouter   { left: 50px;}
#Acouter, #Bcouter, #Ccouter, #Dcouter, #Ecouter, #Fcouter, #Gcouter, #Hcouter, #Icouter   { left: 100px;}
#Adouter, #Bdouter, #Cdouter, #Ddouter, #Edouter, #Fdouter, #Gdouter, #Hdouter, #Idouter   { left: 150px;}
#Aeouter, #Beouter, #Ceouter, #Deouter, #Eeouter, #Feouter, #Geouter, #Heouter, #Ieouter   { left: 200px;}
#Afouter, #Bfouter, #Cfouter, #Dfouter, #Efouter, #Ffouter, #Gfouter, #Hfouter, #Ifouter   { left: 275px;}
#Agouter, #Bgouter, #Cgouter, #Dgouter, #Egouter, #Fgouter, #Ggouter, #Hgouter, #Igouter   { left: 325px;}
#Ahouter, #Bhouter, #Chouter, #Dhouter, #Ehouter, #Fhouter, #Ghouter, #Hhouter, #Ihouter   { left: 375px;}
#Aiouter, #Biouter, #Ciouter, #Diouter, #Eiouter, #Fiouter, #Giouter, #Hiouter, #Iiouter   { left: 425px;}
#Ajouter, #Bjouter, #Cjouter, #Djouter, #Ejouter, #Fjouter, #Gjouter, #Hjouter, #Ijouter   { left: 475px;}
#Aainner, #Bainner, #Cainner, #Dainner, #Eainner, #Fainner, #Gainner, #Hainner, #Iainner   { left: 25px;}
#Abinner, #Bbinner, #Cbinner, #Dbinner, #Ebinner, #Fbinner, #Gbinner, #Hbinner, #Ibinner   { left: 75px;}
#Acinner, #Bcinner, #Ccinner, #Dcinner, #Ecinner, #Fcinner, #Gcinner, #Hcinner, #Icinner   { left: 125px;}
#Adinner, #Bdinner, #Cdinner, #Ddinner, #Edinner, #Fdinner, #Gdinner, #Hdinner, #Idinner   { left: 175px;}
#Aeinner, #Beinner, #Ceinner, #Deinner, #Eeinner, #Feinner, #Geinner, #Heinner, #Ieinner   { left: 225px;}
#Afinner, #Bfinner, #Cfinner, #Dfinner, #Efinner, #Ffinner, #Gfinner, #Hfinner, #Ifinner   { left: 250px;}
#Aginner, #Bginner, #Cginner, #Dginner, #Eginner, #Fginner, #Gginner, #Hginner, #Iginner   { left: 300px;}
#Ahinner, #Bhinner, #Chinner, #Dhinner, #Ehinner, #Fhinner, #Ghinner, #Hhinner, #Ihinner   { left: 350px;}
#Aiinner, #Biinner, #Ciinner, #Diinner, #Eiinner, #Fiinner, #Giinner, #Hiinner, #Iiinner   { left: 400px;}
#Ajinner, #Bjinner, #Cjinner, #Djinner, #Ejinner, #Fjinner, #Gjinner, #Hjinner, #Ijinner   { left: 450px;}

#A1 {
  left: 0;
}
#A2 {
  left: 25px;
}
#A3 {
  left: 50px;
}
#A4 {
  left: 75px;
}
#A5 {
  left: 100px;
}
#A6 {
  left: 125px;
}
#A7 {
  left: 150px;
}
#A8 {
  left: 175px;
}
#A9 {
  left: 200px;
}
#A10 {
  left: 225px;
}
#A11 {
  left: 275px;
}
#A12 {
  left: 250px;
}
#A13 {
  left: 325px;
}
#A14 {
  left: 300px;
}
#A15 {
  left: 375px;
}
#A16 {
  left: 350px;
}
#A17 {
  left: 425px;
}
#A18 {
  left: 400px;
}
#A19 {
  left: 475px;
}
#A20 {
  left: 450px;
}
.colors {
  position: relative;
  float: right;
}

.labels {
  transform: rotate(-90deg);
  position: absolute;
  display: inline-block;
  width: 100px;
  top: -340px;
  left: 255px;
}

.color-row {
  position: absolute;
  margin-top: -30px;
}

.color-row svg {
  position: absolute;
  top: 15px;
  left: 0;
}

.row1 li, .row2 li, .row3 li, .row4 li, .row5 li {
  margin-bottom: 24px;
}

.row1 {
  top: -10px;
}
.row2 {
  top: 128px;
}
.row3 {
  top: 266px;
}
.row4 {
  top: 406px;
}
.row5 {
  top: 544px;
}

svg {
  display: block;
}
.block {
  height: 400px;
  width: 500px;
  position: relative;
}

.block svg {
  position: absolute;
  height: 50px;
  width: 50px;
}
/* ROWS */
.A {
  top: 0;
}
.B {
  top: 50px;
}
.C {
  top: 100px;
}
.D {
  top: 150px;
}
.E {
  top: 200px;
}
.F {
  top: 250px;
}
.G {
  top: 300px;
}
.H {
  top: 350px;
}
/* COLUMNS */

.a {
  left: 0;
}
.b {
  left: 50px;
}
.c {
  left: 100px;
}
.d {
  left: 150px;
}
.e {
  left: 200px;
}
.f {
  left: 250px;
}
.g {
  left: 300px;
}
.h {
  left: 350px;
}
.i {
  left: 400px;
}
.j {
  left: 450px;
}
.k {
  left: 250px;
}
.l {
  left: 250px;
}
.m {
  left: 300px;
}
.n {
  left: 300px;
}
.o {
  left: 350px;
}
.p {
  left: 350px;
}
.q {
  left: 400px;
}
.r {
  left: 400px;
}
.s {
  left: 450px;
}
.t {
  left: 450px;
}
.colors {
  display: block;
  width: 50%;
  float: right;
}

label {
  display: block;
  margin-top: 2em;
}

.neutral {
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 1em;
  height: 200px;
}

.matches {
  float: left;
  width: 48%;
}

#toPrint {
  width: 45%;
  margin: 1em;
  column-count: 2;
  column-rule: 1px solid #ddd;
}

#toPrint li {
  margin: 0 0 0.5em 0;
}

}